%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      = link_to t('app_title'), root_path, id: 'title', class: 'navbar-brand'
    %ul.nav.navbar-nav
      %li= link_to t('nav_artists'), artists_path
      %li= link_to t('nav_albums'), albums_path
      %li= link_to t('nav_songs'), songs_path
      %li= link_to t('nav_contact'), contact_path

-# Javascript to produce a hover effect, changing the opacity of the text
:javascript
  $(document).ready(function() {
    $('#title').hover(function() {
      $(this).fadeTo("fast", 1.0);
    }, function() {
      $(this).fadeTo("fast", 0.7);
    });
  });