= form_for @song, html: { class: 'form-horizontal' } do |f|
  - if @song.errors.any?
    #error_explanation
      %h2= "#{pluralize(@song.errors.count, "error")} prohibited this song from being saved:"
      %ul
        - @song.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :album_id, class: 'control-label col-md-2'
    .col-md-8
      = f.collection_select :album_id, Album.all, :id, :name, class: 'dropdown-menu col-md-2'
  .form-group
    = f.label :name, class: 'control-label col-md-2'
    .col-md-8
      = f.text_field :name, class: 'text_field form-control'
  .form-group
    = f.label :track, class: 'control-label col-md-2'
    .col-md-8
      = f.number_field :track, class: 'number_field form-control'
  .form-group
    = f.label :length, class: 'control-label col-md-2'
    .col-md-8
      = f.text_field :length, class: 'text_field form-control'
  .form-group
    .col-md-offset-2.col-md-8
      = f.submit nil, class: 'btn btn-primary'
      = link_to t('.cancel', default: t("helpers.links.cancel")), songs_path, class: 'btn btn-default'