%p#notice= notice
- model_class = Song
.page-header
  %h1=t '.title', default: model_class.model_name.human.pluralize.titleize

=form_tag songs_path, :method => 'get' do
  %p
    =text_field_tag :search, params[:search], class: 'text_field'
    =submit_tag "Search", class: 'btn btn-default', :name => nil

%table.table.table-striped
  %thead
    %tr
      %th= t('.name')
      %th= t('.album')
      %th= t('.track')
      %th= t('.length')
      %th=t '.actions', default: t("helpers.actions")
  %tbody
    - @songs.each do |song|
      %tr
        %td= song.name
        %td= song.album.name
        %td= song.track
        %td= song.length
        %td
          = link_to song_path(song), class: 'btn btn-xs' do
            = glyph 'info-sign'
          = link_to edit_song_path(song), class: 'btn btn-xs' do
            = glyph 'pencil'
          = link_to song_path(song), method: :delete, data: { confirm: t('delete_song') }, class: 'btn btn-xs' do
            = glyph 'remove'

= link_to t('.new', default: t("helpers.links.new")), new_song_path, class: 'btn btn-default'
.centre
  = will_paginate @songs