= form_for @album, html: { multipart: true, class: 'form-horizontal' } do |f|
  - if @album.errors.any?
    .error_message
      #error_explanation
        %h2= t('.album_save')
        %ul
          - @album.errors.full_messages.each do |msg|
            %li= msg

  .form-group
    = f.label :artwork, class: 'control-label col-md-2'
    .col-md-8
      = f.file_field :artwork, class: 'text_field form-control'
  .form-group
    = f.label :artist_id, class: 'control-label col-md-2'
    .col-md-8
      = f.collection_select :artist_id, Artist.all, :id, :name, class: 'dropdown-menu col-md-2' # Dropdown selection box of all the artists available that you can create an album for
  .form-group
    = f.label :name, class: 'control-label col-md-2'
    .col-md-8
      = f.text_field :name, class: 'text_field form-control'
  .form-group
    = f.label :year, class: 'control-label col-md-2'
    .col-md-8
      = f.number_field :year, class: 'number_field form-control'
  .form-group
    .col-md-offset-2.col-md-8
      = f.submit nil, class: 'btn btn-primary'
      = link_to t('.cancel', default: t("helpers.links.cancel")), albums_path, class: 'btn btn-default'