%p#notice= notice
- model_class = Album
.page-header
  %h1=t '.title', default: model_class.model_name.human.pluralize.titleize

=form_tag albums_path, :method => 'get' do
  %p
    =text_field_tag :search, params[:search], class: 'text_field'
    =submit_tag t('search'), class: 'btn btn-default', :name => nil

%table.table.table-striped
  %thead
    %tr
      %th= t('.artwork')
      %th= t('.artist')
      %th= t('.album')
      %th= t('.songs')
      %th= t('.year')
      %th=t '.actions', default: t("helpers.actions")
  %tbody
    - @albums.each do |album|
      %tr
        %td= image_tag album.artwork.url(:thumb), class: 'image'
        %td= album.artist.name
        %td= album.name
        %td= album.songs.map(&:name).join(",<br>").html_safe # Lists all of the songs contained within the album, and joins each song with a html new line
        %td= album.year
        %td
          = link_to album_path(album), class: 'btn btn-xs' do
            = glyph 'info-sign'
          = link_to edit_album_path(album), class: 'btn btn-xs' do
            = glyph 'pencil'
          = link_to album_path(album), method: :delete, data: { confirm: t('delete_album') }, class: 'btn btn-xs' do
            = glyph 'remove'

= link_to t('.new', default: t("helpers.links.new")), new_album_path, class: 'btn btn-default'
.centre
  = will_paginate @albums

-# Javascript to scale the size of the album art when hovered over
:javascript
  $(document).ready(function() {
    $(".image").hover(function() {
      $(this).animate({
            height: '250px',
            width: '250px'
        });
    }, function() {
       $(this).animate({
            height: '150px',
            width: '150px'
        });
    });
  });